
@{
    ViewBag.Title = "Index";
    string url = ViewBag.Url;
    string alt = ViewBag.Alt;
    int idValue = ViewBag.Id;
}
<h2>Image Link example</h2>

<p>Click on the image to go to details page</p>

<div>
    <a href='@Url.Action("Details", new { id = 1 })'><img src="/Images/transsiberian.jpg" alt="Trans-Siberian Express" style="border-width:5px; border-style: solid; border-color: red" /></a>
</div>